@import "tailwindcss";
@theme {
    --font-sans: "Roboto";
    --animate-notification: show-notification .4s ease forwards, close-notification .5s ease 2.5s forwards;
    --animate-timer-animation: timer-animation 2s ease .2s forwards;
    --breakpoint-menu: 1215px;
    --breakpoint-home: 1300px;
}

@layer base {
    input {
        @apply focus:border-b-sky-600 focus:border-b-2 py-1 px-2 outline-none;
    }
}

@keyframes show-notification {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes close-notification {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-700px);
    }
  }
  
  @keyframes timer-animation {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }